@if (showCabecalho()) {
<div class="m-0 p-0 bcp-bg-secondary">
  <div class="container  m-0 p-0">
    <div class="row m-0 p-0">
      <div class="col mt-2">
        <h1>{{title}}</h1>
      </div>
      <div class="col-2 m-0 p-0 me-4 mt-2 ">
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                @if (usuarioLogado) {
                <img [src]="fotoURL" class="rounded-circle mx-2" style="width: 30px; height: 30px;">
                {{usuario.userName}}
                } @else {
                Opcões:
                }
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="d-flex justify-content-start">
              <a class="bcp-cursor" mat-raised-button matTooltip="Login" (click)="login()">
                <mat-icon class="bcp-icon2 mr-1">login</mat-icon>
                Login
              </a>
            </div>
            <div class="d-flex justify-content-start">
              <a class="bcp-cursor" mat-raised-button matTooltip="Novo Usuário" (click)="register()">
                <mat-icon class="bcp-icon2 mr-1">person_add</mat-icon>
                Novo Usuário
              </a>
            </div>
            <div class="d-flex justify-content-start align-items-center">
              @if (usuarioLogado) {
              <a class="bcp-cursor m-1" mat-raised-button matTooltip="Sair" (click)="logout()">
                <mat-icon class="bcp-icon2 mr-1">logout</mat-icon>
                <span class="m-0">Sair</span>
              </a>
              }
            </div>

          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
</div>
}

<ngx-spinner bdColor="rgba(251,251,251,0.8)" size="medium" color="#000" type="square-jelly-box">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>