<div class="container-fluid m-0 p-0 mt-2">
  <div fxLayout="row" fxLayoutGap="5px">
    <div fxFlex="60" fxLayoutAlign="end end">

      <mat-card class="rounded-4 shadow mat-elevation-z8 ms-2">
        <mat-card-header fxLayoutAlign="center center" class="border-bottom">
          <mat-card-title>{{acervo.titulo}}</mat-card-title>
        </mat-card-header>
        <div fxLayout="row" fxLayoutAlign="center start">
          <mat-card-content fxFlex="30" fxLayoutAlign="center center">
            <img src="{{acervo.capaUrl}}" alt="Capa do livro" class="bcp-imagem-card ">
          </mat-card-content>
          <mat-card-content fxFill fxFlex="70" fxFlexLayout="column">
            <p class="mt-4 p-3"><b>Autor: </b>
              <span style="text-decoration: underline;">{{acervo.autor}}</span> <br>
              <b>Edição: </b>{{acervo.edicao}} <br>
              <b>Data de publicação: </b>{{acervo.anoPublicacao}} <br>
              <b>Editora: </b>{{acervo.editora}} <br>
              <b>Páginas: </b>{{acervo.qtdPaginas}}
              <!-- Adicione outras informações relevantes aqui -->
            </p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
    <div fxFlex="40" fxLayoutAlign="end end">
      <mat-card class="rounded-4 me-5 mb-4">
        <mat-card-header fxLayoutAlign="center center" class=" border-bottom">
          <mat-card-title class="text-center">Exemplares</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="table-responsive">
            <table class="table bg-white">
              <thead>
                <tr class="change-color">
                  <th>#</th>
                  <th>ID</th>
                  <th>Status</th>
                  <th>Opções</th>
                </tr>
              </thead>
              <tbody>
                @for (patrimonio of acervo.patrimonios; track patrimonio.id; let i=$index) {
                <tr>
                  <td>{{i+1}}</td>
                  <td class="change-color">{{patrimonio.id}}</td>
                  <td class="status">{{obterStatusPatrimonio(patrimonio.status)}}</td>
                  <td>
                    <button class="btn btn-primary reserve-button" [disabled]="disabledReservar"
                      (click)="abrirDialog(patrimonio.id)" data-bs-toggle="modal" data-bs-target="modalEmprestar">
                      Reservar
                    </button>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


<!-- Container de Sinopse -->
<div class="container-fluid mt-4 me-4">
  <div class="card bg-white mb-3 text-black mat-elevation-z8">
    <div class="card-body">
      <h2 class="card-title border-bottom">Sinopse</h2>
      <p class="card-text">{{acervo.resumo}}</p>
    </div>
  </div>
</div>


<div class="container-fluid mt-4 me-4">
  <form class="card mb-4  mat-elevation-z8 p-2">
    <h2 class="border-bottom">Comentários</h2>

    <div class="container">


      @for (ratingId of ratingArr; track ratingArr; let i = $index) {
      <button mat-icon-button [color]="color" [id]="'star_'+i" (click)="onClick(i+1)" 
        matTooltipPosition="above">
        <mat-icon>
          {{showIcon(i)}}
        </mat-icon>
      </button>

      }
      <p class="body-2">
        Sua avaliação: <span class="body-2">{{rating}}</span> / <span class="body-2">{{starCount}}</span>
      </p>
    </div>

    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
      <div class="d-flex flex-start w-100">
        <img class="rounded-circle shadow-1-strong me-3" [src]="fotoURL" alt="avatar" width="40" height="40" />
        <div class="form-outline w-100" style="margin-bottom: 0;">
          <label class="form-label" for="textAreaExample">Comentários</label>
          <textarea class="form-control" id="textAreaExample" rows="4" style="background: #fff; margin-bottom: 0;"
            placeholder="Comente o que achou desta obra..." (ngModel)="comentarios"></textarea>
        </div>
      </div>
      <div class="float-end mt-1 pt-1">
        <button type="button" class="btn btn-primary btn-sm me-2" (click)="salvarAcervo()">Enviar</button>
        <button type="button" class="btn btn-outline-primary btn-sm">Cancelar</button>
      </div>
    </div>
    <div class="mt-4">
      <h2 class="border-bottom">Comentários Recentes</h2>
      <br>
      <div class="row">
        <div fxFlex="100">
          <ul class="no-bullets mb-2">
            <li>
              <div class="d-flex align-items-center">
                <img class="rounded-circle shadow-1-strong me-3" src="../../../../assets/images/user.jpg" alt="avatar"
                  width="65" height="65" />
                <div>
                  <p class="mb-1">
                    Arnel Pineda
                    <span class="small">- 2 horas atrás</span>
                  </p>
                  <p class="small mb-0">{{acervo.comentarios}}</p>
                </div>
              </div>
            </li>
          </ul>
          <ul class="no-bullets">
            <li>
              <div class="d-flex align-items-center">
                <img class="rounded-circle shadow-1-strong me-3" src="../../../../assets/images/user2.jpeg" alt="avatar"
                  width="65" height="65" />
                <div>
                  <p class="mb-1">Nina Dobrev <span class="small">- Agora</span></p>
                  <p class="small mb-0">{{acervo.comentarios}}</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
