:root
 {
  --primary: #0D4880;
  --primary-010: #1576D1;

  --secondary: #092e54;
  --secondary-010: #06203B;

  --white: #ffffff;
  --white-010: #efefef;
  --white-020: #F7FFF7;
  --white-030: #F2F9FF;

  --black: #101010;
  --black-010: #050505;

  --red: #c90025;
  --red-010: #a3001e;

  --grey: #9b9ba0;
 }
