@import 'ngx-toastr/toastr';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

@import 'bootstrap/scss/bootstrap';

@import "./assets/scss/index";






.imageDetail {
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}






