<div class="bcp-wrapper">
  <div class="bcp-title">
    <img src="../assets/images/thumbnail_logotipo.png" width="200px" alt="Logotipo Prevenir">
    <div class="bcp-mensagem">
      <p>Cadastre-se</p>
    </div>
  </div>
  <div class="bcp-form-container">
    <div class="bcp-form-inner">
      <form #cadastroForm="ngForm" class="bcp-login" [formGroup]="formCadastro" (ngSubmit)="register()">
        <div class="mt-5">
          <mat-form-field class="col-12">
            <mat-label>Nome completo:</mat-label>
            <input matInput type="text" formControlName="nome" [ngClass]="fieldValidator(ctrF.nome)">
            <mat-error class="invalid-feedback">{{messageReturned(ctrF.nome, '')}}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Nome de usuário:</mat-label>
            <input matInput type="text" formControlName="userName" [ngClass]="fieldValidator(ctrF.userName)">
            <mat-error class="invalid-feedback">{{messageReturned(ctrF.userName, '')}}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Telefone:</mat-label>
            <input matInput type="text" formControlName="phoneNumber" [ngClass]="fieldValidator(ctrF.phoneNumber)">
            <mat-error class="invalid-feedback">{{messageReturned(ctrF.phoneNumber, '')}}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>e-mail:</mat-label>
            <input matInput type="text" formControlName="email" [ngClass]="fieldValidator(ctrF.email)">
            <mat-error class="invalid-feedback">{{messageReturned(ctrF.email, '')}}</mat-error>
          </mat-form-field>
          <mat-form-field class="col-12">
            <mat-label>Senha:</mat-label>
            <input matInput type="password" formControlName="password" [ngClass]="fieldValidator(ctrF.password)">
            <mat-error class="invalid-feedback">{{messageReturned(ctrF.password, '')}}</mat-error>
          </mat-form-field>
          <div class="flex row">
            <button class="btn btn-primary m-0 " [disabled]="!formCadastro.valid">
              Cadastre-se
            </button>
          </div>
          <div class="bcp-signup-link mt-2">
            <div routerLinkActive="active">
              Já tem uma conta? <a routerLink="/pages/usuarios/login">Faça login</a>
            </div>
            <div id="bcp-acessar-acervo" routerLinkActive="active">
              <a (click)="reloadPrincipal()" style="cursor:pointer">Acessar o acervo</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
