.bcp-logo-principal {
  width: 180px;
  height: 120px;
}

.bcp-logo-secundaria {
  width: 70px;
}

.bcp-texto-logo {
  text-align: center;
  color: var(--primary)
}

.mat-drawer-content {
  min-height: 670px;
}
