.bcp-avatar {
  width: 40px;
  height: 40px;
}

.bcp-bg-primary {
  background-color: var(--primary);
}

.bcp-bg-primary-010 {
  background-color: var(--primary-010);
}

.bcp-bg-secondary {
  background-color: var(--secondary);
  opacity: .9;
}

.bcp-bg-secondary-010 {
  background-color: var(--secondary-010);
  opacity: .9;
}

.bcp-bg-white {
  background-color: var(--white);
  opacity: .9;
  color: black;
}

.bcp-bg-white-010 {
  background-color: var(--white-010);
  opacity: .9;
  color: black;
}

.mat-drawer-content {
  min-height: 890px;
}

.bcp-drawer-icon {
  transform: scale(1.2);
  color: var(--primary-010);
  margin-right: 4px;
}

.bcp-imagem-lateral {
  max-width:400px;
  max-height:300px;
  width: auto;
  height: auto;
}

.bcp-imagem-lista {
  max-width:90px;
  max-height:80px;
  width: auto;
  height: auto;
}

.bcp-imagem-card {
  max-width:500px;
  max-height:400px;
  width: 200px;
  height: 250px;
  border-radius: 15px; 
}

.bcp-logo-principal {
  width: 180px;
  height: 120px;
}

.bcp-logo-secundaria {
  width: 70px;
}

.bcp-logotipo-pagina {
  max-width: 250px;
}

.bcp-title-menu-icon {
  transform: scale(1.4);
  margin-right: 6px;
}
