@if (showCabecalho()) {
<div class="bcp-bg-primary">
  <div fxLayout="row" class="m-0 px-2">
    <div fxLayout="row" fxFlexFill fxFlex="70" class="mt-2 text-white">
      <mat-icon class="bcp-title-menu-icon">{{iconTitle}}</mat-icon>
      <h1>{{title}}</h1>
    </div>
    <div fxLayout="row" fxFlex="30" fxLayoutAlign="end center" class="m-1 p-0">
      <button mat-button [matMenuTriggerFor]="menu">
        <span>
          @if (usuarioLogado) {
          <img [src]="fotoURL" class="rounded-circle mx-2 bcp-avatar">
          <span class="text-white">{{usuario.userName}}</span>
          } @else {
          <span class="text-white">Opcões:</span>
          }
        </span>
      </button>
      <mat-menu #menu="matMenu" >
        <mat-menu-item class="px-2">
          <mat-icon class="bcp-drawer-icon">login</mat-icon>
          <a class="bcp-cursor ms-2" routerLink="/pages/usuarios/login">
            Login
          </a>
        </mat-menu-item>
        <mat-divider class="mt-2 mb-2"></mat-divider>
        <mat-menu-item class="px-2">
          <mat-icon class="bcp-drawer-icon">person_add</mat-icon>
          <a class="ms-2" role="button" (click)="register()">
            Novo Usuário
          </a>
        </mat-menu-item>
        <mat-divider class="mt-2 mb-2"></mat-divider>
        @if (usuarioLogado) {
        <mat-menu-item class="px-2">
          <mat-icon class="bcp-drawer-icon">logout</mat-icon>
          <a class="ms-2" role="button" (click)="logout()">
            Sair
          </a>
        </mat-menu-item>
        }
      </mat-menu>
    </div>
  </div>
</div>
}

<ngx-spinner bdColor="rgba(251,251,251,0.8)" size="medium" color="#000" type="square-jelly-box">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>