
.bcp-icon {
  transform: scale(1.4);
  color: var(--primary-010);
  margin-right: 2px;
}

// Configurações background
.bcp-bg-primary {
  background-color: var(--primary);
  opacity: .9;
}

.bcp-bg-secondary {
  background-color: var(--secondary);
  opacity: .9;
}

.bcp-boder-left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.bcp-boder-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
