.bcp-primary {
  color: var(--primary);
}

.bcp-bg-white {
  background-color: white;
  opacity: .9;
  color: black;
}

.bcp-container {
  min-height: 670px;
}

.bcp-icon {
  transform: scale(1.2);
  color: var(--primary);
  margin-right: 4px;
}

.bcp-cursor{
  cursor: pointer;
  color: var(--primary-010);
}

.bcp-bg-primary {
  background-color: var(--primary);
  opacity: .9;
}

.bcp-bg-secondary {
  background-color: var(--secondary);
  opacity: .9;
}

.bcp-select {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}