
<div class="p-4">
  <div class="p-2">
    <p class="h5">Solicitação de Reserva</p>
  </div>

  <form [formGroup]="formModalSolicitacao">
    <div fxLayout="row wrap" >
      <mat-form-field fxFlex="100" class="ms-2 p-2">
        <mat-label>Local Entrega</mat-label>
        <mat-select matNativeControl formControlName="localEnvio" >
          <mat-option value="Matriz">Matriz</mat-option>
          <mat-option value="Contorno">Contorno</mat-option>
          <mat-option value="Betim">Betim</mat-option>
          <mat-option value="Caetés">Caetés</mat-option>
          <mat-option value="Galeria do Ouvidor">Galeria do Ouvidor</mat-option>
          <mat-option value="Justinópolis">Justinópolis</mat-option>
          <mat-option value="Nova Lima">Nova Lima</mat-option>
          <mat-option value="Raposos">Raposos</mat-option>
          <mat-option value="Ribeirão das Neves">Ribeirão das Neves</mat-option>
          <mat-option value="Sabará">Sabará</mat-option>
          <mat-option value="Santa Luzia">Santa Luzia</mat-option>
          <mat-option value="Venda Nova">Ribeirão das Neves</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="100" class="ms-2 p-2">
        <mat-label>Local Devolução</mat-label>
        <mat-select matNativeControl formControlName="localDevolucao">
          <mat-option value="Matriz">Matriz</mat-option>
          <mat-option value="Contorno">Contorno</mat-option>
          <mat-option value="Betim">Betim</mat-option>
          <mat-option value="Caetés">Caetés</mat-option>
          <mat-option value="Galeria do Ouvidor">Galeria do Ouvidor</mat-option>
          <mat-option value="Justinópolis">Justinópolis</mat-option>
          <mat-option value="Nova Lima">Nova Lima</mat-option>
          <mat-option value="Raposos">Raposos</mat-option>
          <mat-option value="Ribeirão das Neves">Ribeirão das Neves</mat-option>
          <mat-option value="Sabará">Sabará</mat-option>
          <mat-option value="Santa Luzia">Santa Luzia</mat-option>
          <mat-option value="Venda Nova">Ribeirão das Neves</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="ms-auto">
        <button class="btn btn-primary " (click)="novoEmprestimo()">Reservar</button>
      </div>
    </div>
  </form>