<div class="container-fluid mt-0 ms-0 pt-0 ps-0">
  <div class="card p-0 m-1">
    <div fxLayout="row" class="p-1">
      <div fxLayout="column" fxFlex="30%" fxFlex.md="100%" class="pt-1">
        <div class="card mb-3 bcp-bg-white-010">
          <div class="card-header bcp-bg-secondary align-items-center text-center p-1">
            <input type="file" #file (change)="changePhoto($event)" class="d-none">
            <div class="">
              <img class="rounded-circle bcp-avatar-perfil" [src]="fotoURL" (click)="file.click()" alt="Foto do perfil">
              <div class="h5 text-center text-white">
                {{usuario.email}}
              </div>
            </div>
          </div>
          <input type="file" #file (change)="changePhoto($event)" style="display: none">
          <div class="align-self-center text-center pt-1">
            <div class="card-body">
              <div class="h7 pb-1"><b>Nome: </b>{{usuario.nome}}</div>
              <div class="h7 pb-1"><b>UserName: </b>{{usuario.userName}}</div>
            </div>
          </div>
          <div class="card-footer bcp-bg-secondary">
            <div class="card d-flex g-0 m-0 p-1">
              <div class="card-header text-center shadow">
                <div class="row">
                  <div class="col-12 text-center">
                    <div class="h5">1342</div>
                    <div class="h6 text-muted">Total de Livros Lidos</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column" fxFlex="70%" fxFlex.md="100%" class="p-0">
        <app-perfil-detalhe (changeFormValue)="getDataLoged($event)"></app-perfil-detalhe>
      </div>

    </div>
    <div class="form-row ">
      <h3 class="pt-3 border-bottom text-black">Livros Lidos</h3>
      <div class="form-group col-12">
        <label>Livros Lidos</label>
      </div>
    </div>
  </div>
</div>

