<div class="container-fluid">
  <form class="my-2" [formGroup]="formPatrimonio">
    <div class="card rounded mat-elevation-z4">
      <div class="card-header rounded text-center text-white bcp-bg-secondary">
        <h1 class="mt-2">Formulário de Patrimônios</h1>
      </div>
      <div class="card-body p-0 mt-1 bg-white  text-black">
        <div class="row m-0 mb-1">
          <div fxFlex="67">
            @if (editMode) {
            <h4 class="border-bottom mt-2 mb-2">
              Dados do Patrimônio
            </h4>
            <div class="card bcp-bg-white-010 text-black p-2">
              <div class="h7 mt-2">
                Dados de Controle
              </div>
              <div class="mt-1">
                <mat-form-field fxFlex="25" class="p-1" disabled>
                  <mat-label>Patrimônio Id:</mat-label>
                  <input matInput type="text" formControlName="patrimonioId"
                    [ngClass]="fieldValidator(ctrF.patrimonioId)" readonly>
                  <mat-error class="invalid-feedback">{{messageReturned(ctrF.patrimonioId, '')}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="25" class="p-1">
                  <mat-label>Situação:</mat-label>
                  <input matInput type="text" formControlName="statusTela" [ngClass]="fieldValidator(ctrF.statusTela)"
                    [class]="corTexto" readonly>
                  <mat-error class="invalid-feedback">{{messageReturned(ctrF.statusTela, '')}}</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="25" class="p-1">
                  <mat-label>Data Cadastro:</mat-label>
                  <input matInput [matDatepicker]="dataCadastro" formControlName="dataCadastro"
                    [ngClass]="fieldValidator(ctrF.dataCadastro)" readonly>
                  <mat-datepicker-toggle matIconSuffix class="text-info" [for]="dataCadastro"></mat-datepicker-toggle>
                  <mat-datepicker #dataCadastro disabled="true"></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="25" class="p-1">
                  <mat-label>Data Atualização:</mat-label>
                  <input matInput [matDatepicker]="dataAtualizacao" formControlName="dataAtualizacao"
                    [ngClass]="fieldValidator(ctrF.dataAtualizacao)" readonly>
                  <mat-datepicker-toggle matIconSuffix class="text-info"
                    [for]="dataAtualizacao"></mat-datepicker-toggle>
                  <mat-datepicker #dataAtualizacao disabled="true"></mat-datepicker>
                  <mat-error class="invalid-feedback">{{messageReturned(ctrF.dataAtualizacao,"")}}</mat-error>
                </mat-form-field>
              </div>
              <div class="form-row d-md-flex">
                <mat-form-field fxFlex="25" class="p-1">
                  <mat-label>Data Empréstimo:</mat-label>
                  <input matInput [matDatepicker]="dataIndisponibilidade" formControlName="dataIndisponibilidade"
                    [ngClass]="fieldValidator(ctrF.dataIndisponibilidade)" readonly>
                  <mat-datepicker-toggle matIconSuffix class="text-info"
                    [for]="dataIndisponibilidade"></mat-datepicker-toggle>
                  <mat-datepicker #dataIndisponibilidade disabled="true"></mat-datepicker>
                  <mat-error class="invalid-feedback">{{messageReturned(ctrF.dataIndisponibilidade,"")}}</mat-error>
                </mat-form-field>
              </div>
            </div>

            }
            <h4 class="border-bottom mt-2">
              Dados de Cadastro
            </h4>
            <div fxLayout="row">
              <mat-form-field fxFlex="25" class="p-1">
                <mat-label>Número ISBN:</mat-label>
                <input matInput type="text" formControlName="isbn" [ngClass]="fieldValidator(ctrF.isbn)">
                <mat-error class="invalid-feedback">{{messageReturned(ctrF.isbn, '')}}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="25" class="p-1">
                <mat-label>Localização:</mat-label>
                <input matInput type="text" formControlName="localizacao" [ngClass]="fieldValidator(ctrF.localizacao)">
                <mat-error class="invalid-feedback">{{messageReturned(ctrF.localizacao,'')}}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="25" class="p-1">
                <mat-label>Sala:</mat-label>
                <input matInput type="text" formControlName="sala" [ngClass]="fieldValidator(ctrF.sala)">
                <mat-error class="invalid-feedback">{{messageReturned(ctrF.sala, '')}}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="25" class="p-1">
                <mat-label>Coluna:</mat-label>
                <input matInput type="text" formControlName="coluna" [ngClass]="fieldValidator(ctrF.coluna)">
                <mat-error class="invalid-feedback">{{messageReturned(ctrF.coluna, '')}}</mat-error>
              </mat-form-field>
            </div>
            <div class="form-row d-md-flex">
              <mat-form-field fxFlex="25" class="p-1">
                <mat-label>Prateleira:</mat-label>
                <input matInput type="text" formControlName="prateleira" [ngClass]="fieldValidator(ctrF.prateleira)">
                <mat-error class="invalid-feedback">{{messageReturned(ctrF.prateleira, '')}}</mat-error>
              </mat-form-field>
              <mat-form-field fxFlex="25" class="p-1">
                <mat-label>Posição:</mat-label>
                <input matInput type="text" formControlName="posicao" [ngClass]="fieldValidator(ctrF.posicao)">
                <mat-error class="invalid-feedback">{{messageReturned(ctrF.posicao, '')}}</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div fxFlex="33" class="mt-5">
            <div class="aligns-self-center text-center">
              <img class="bcp-imagem-lateral" [src]="capaPatrimonio" alt="Card imagem imageDetail">
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer bcp-bg-secondary mt-1 ">
        <div class="d-flex ">
          <button class="btn btn-danger ms-auto mx-1" (click)="clearForm()">
            Limpar
          </button>
          <button class="btn btn-primary mx-1 px-4" [disabled]="!formPatrimonio.valid" (click)="saveChange()">
            {{editMode ? "Salvar" : "Criar"}}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

  <!-- <p>Form Value: {{formPatrimonio.value | json}}</p>
  <p>Form Status: {{formPatrimonio.status | json}}</p> -->

