@if (showDrawer()) {
  <div class="container-fluid p-4">
    <mat-drawer-container class="rounded-5 p-0 m-0" [class.drawer-opened]="drawer.opened" autosize>
      <mat-drawer #drawer [mode]="modeDrawer" [opened]="openedDrawer" class="p-0 m-0">
        <div class="d-flex flex-column align-items-center">
          <div class="position-relative">
            <img src="../assets/images/thumbnail_logotipo.png" width="180px" height="120px" alt="Logotipo Prevenir"
            class="m-0 p-0 ms-4" (click)="drawer.close()">
            <mat-icon width="30px" height="30px" alt="Menu Recolher" class="mt-4 me-2 position-absolute end-0" (click)="drawer.close()">
              arrow_back
            </mat-icon>
          </div>
          <p class="text-center" style="color: var(--primary)">Biblioteca Corporativa</p>
      </div>
      <app-drawer-navigator/>
    </mat-drawer>
    <mat-drawer-content class="bcp-container">

      @if (!drawer.opened) {

        <div class="m-0 p-1 d-flex align-items-center">
          <div>
            <mat-icon width="20px" height="20px" alt="Menu Expandir" (click)="drawer.toggle()">
              arrow_forward
            </mat-icon>
          </div>
          <div>
            <img src="../assets/images/thumbnail_logotipo.png" width="70px" alt="Logotipo Prevenir"
            (click)="drawer.toggle()">
          </div>
          <div class="flex-grow-1 text-end mt-">
            <h1 style="color: var(--primary)">Biblioteca Corporativa</h1>
          </div>
        </div>

      }

      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

} @else {

<div class="container-fluid p-4">
  <router-outlet></router-outlet>
</div>

}


<router-outlet />
