<div class="container">

  <div class="col mb-3">
    <div class="d-flex align-items-center justify-content-center">
      <img [src]="fotoURL" class="rounded-circle" style="width: 90px; height: 90px;">
    </div>
    <div class="d-flex align-items-center justify-content-center">
      {{usuarioAtivo.userName}}
    </div>
  </div>

  <mat-accordion>
    @if (usuarioLogado) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="bcp-icon mr-1">person</mat-icon>
          Usuário
        </mat-panel-title>
      </mat-expansion-panel-header>

      @if (!usuarioAdmin) {
      <button mat-menu-item>
        <a class="linkMenu" routerLink="emprestimo/solicitacoes">
          <mat-icon class="bcp-icon mr-1">format_list_bulleted</mat-icon>
          Minhas Solicitações
        </a>
      </button>
      }
      <div class="d-flex justify-content-center">
        <button mat-menu-item>
          <a class="linkMenu" routerLink="usuario/perfil">
            <mat-icon class="bcp-icon mr-1">account_box</mat-icon>
            Perfil
          </a>
        </button>
      </div>

    </mat-expansion-panel>
    }

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="bcp-icon mr-1">home</mat-icon>
          Home
        </mat-panel-title>
      </mat-expansion-panel-header>

      @if (!usuarioAdmin) {
      <button mat-menu-item>
        <a class="linkMenu" routerLink="home/homePage">
          <mat-icon class="bcp-icon mr-1">space_dashboard</mat-icon>
          Principal
        </a>
      </button>
      } @else {
      <div class="d-flex justify-content-center">
        <button mat-menu-item>
          <a class="linkMenu" routerLink="home/homeAdmin">
            <mat-icon class="bcp-icon mr-1">admin_panel_settings</mat-icon>
            Administrador
          </a>
        </button>
      </div>
      }

    </mat-expansion-panel>

    @if (usuarioLogado) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="bcp-icon mr-1">book</mat-icon>
          Patrimônio
        </mat-panel-title>
      </mat-expansion-panel-header>

      @if (usuarioAdmin) {
      <button mat-menu-item>
        <a class="linkMenu" routerLink="patrimonios/novo">
          <mat-icon class="bcp-icon mr-1">add</mat-icon>
          Novo
        </a>
      </button>
      }
      <div class="d-flex justify-content-center">
        <button mat-menu-item>
          <a class="linkMenu" routerLink="patrimonios/lista">
            <mat-icon class="bcp-icon mr-1">list</mat-icon>
            Lista
          </a>
        </button>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="bcp-icon mr-1">library_books</mat-icon>
          Acervo
        </mat-panel-title>
      </mat-expansion-panel-header>

      @if (usuarioAdmin) {
      <button mat-menu-item>
        <a class="linkMenu" routerLink="acervo/novo">
          <mat-icon class="bcp-icon mr-1">add</mat-icon>
          Novo
        </a>
      </button>
      }
      <div class="d-flex justify-content-center">
        <button mat-menu-item>
          <a class="linkMenu" routerLink="acervo/lista">
            <mat-icon class="bcp-icon mr-1">list</mat-icon>
            Lista
          </a>
        </button>
      </div>

    </mat-expansion-panel>

    @if (usuarioAdmin) {
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="bcp-icon mr-1">admin_panel_settings</mat-icon>
          Administrador
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex">
        <button mat-menu-item>
          <a class="linkMenu" routerLink="emprestimo/gerenciar">
            <mat-icon class="bcp-icon mr-1">shield_person</mat-icon>
            Gerenciar
          </a>
        </button>
      </div>

    </mat-expansion-panel>
    }
    }
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="bcp-icon mr-1">computer</mat-icon>
          Sistema
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="d-flex">
        <button mat-menu-item>
          <a class="linkMenu" routerLink="/login">
            <mat-icon class="bcp-icon mr-1">login</mat-icon>
            Login
          </a>
        </button>
      </div>

      <div class="d-flex">
        <button mat-menu-item>
          <a class="linkMenu" routerLink="/register">
            <mat-icon class="bcp-icon mr-1">add_registration</mat-icon>
            Cadastrar
          </a>
        </button>
      </div>

      @if (usuarioLogado) {

      <div class="d-flex">
        <button mat-menu-item>
          <a class="linkMenu" (click)="logout()">
            <mat-icon class="bcp-icon mr-1">logout</mat-icon>
            Logout
          </a>
        </button>
      </div>
      }
    </mat-expansion-panel>
  </mat-accordion>

  <div class="d-flex">
    <mat-menu #menu6="matMenu">
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/login">
          <mat-icon class="bcp-icon mr-1">login</mat-icon>
          Login
        </a>
      </button>
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/register">
          <mat-icon class="bcp-icon mr-1">add_registration</mat-icon>
          Cadastrar
        </a>
      </button>
      @if(usuarioLogado) {
      <button mat-menu-item>
        <a class="dropdown-item" (click)="logout()">
          <mat-icon class="bcp-icon mr-1">logout</mat-icon>
          Logout
        </a>
      </button>
      }
    </mat-menu>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>
