<div class="container">

  @if (usuarioLogado) {
  <div class="col">
    <div class="d-flex align-items-center justify-content-center">
      <img [src]="fotoURL" class="rounded-circle" style="width: 90px; height: 90px;">
    </div>
    <div class="d-flex align-items-center justify-content-center">
      {{usuarioAtivo.userName}}
    </div>
    <div class="d-flex align-items-center justify-content-center">
      <p class="mt-4"> Navegar para:</p>
    </div>
  </div>
  <div class="d-flex">
    <button mat-button [matMenuTriggerFor]="menu1">
      <div class="d-flex">
        <div class="nav-item" routerLinkActive="active">
          <mat-icon class="bcp-icon mr-1">person</mat-icon>
          Usuário
        </div>
      </div>
    </button>
    <mat-menu #menu1="matMenu">
      @if (!usuarioAdmin) {
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="emprestimo/solicitacoes">
          <mat-icon class="bcp-icon mr-1">format_list_bulleted</mat-icon>
          Minhas Solicitações
        </a>
      </button>
      }
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="usuario/perfil">
          <mat-icon class="bcp-icon mr-1">account_box</mat-icon>
          Perfil
        </a>
      </button>
    </mat-menu>
  </div>
  }

  <div class="d-flex">
    <button mat-button [matMenuTriggerFor]="menu2">
      <div class="d-flex">
        <div class="nav-item" routerLinkActive="active">
          <mat-icon class="bcp-icon mr-1">home</mat-icon>
          Home
        </div>
      </div>
    </button>
    <mat-menu #menu2="matMenu">
      @if (!usuarioAdmin) {
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="home/homePage">
          <mat-icon class="bcp-icon mr-1">space_dashboard</mat-icon>
          Principal
        </a>
      </button>
      } @else {
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="home/homeAdmin">
          <mat-icon class="bcp-icon mr-1">admin_panel_settings</mat-icon>
          Administrador
        </a>
      </button>
      }
    </mat-menu>
  </div>

  @if(usuarioLogado) {
  <div class="d-flex">
    <button mat-button [matMenuTriggerFor]="menu3">
      <div class="d-flex">
        <div class="nav-item" routerLinkActive="active">
          <mat-icon class="bcp-icon mr-1">book</mat-icon>
          Patrimônio
        </div>
      </div>
    </button>
    <mat-menu #menu3="matMenu">
      @if (usuarioAdmin) {
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="patrimonios/novo">
          <mat-icon class="bcp-icon mr-1">add</mat-icon>
          Novo
        </a>
      </button>
      }
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="patrimonios/lista">
          <mat-icon class="bcp-icon mr-1">list</mat-icon>
          Lista
        </a>
      </button>
    </mat-menu>
  </div>
  <div class="d-flex">
    <button mat-button [matMenuTriggerFor]="menu4">
      <div class="d-flex">
        <div class="nav-item" routerLinkActive="active">
          <mat-icon class="bcp-icon mr-1">library_books</mat-icon>
          Acervo
        </div>
      </div>
    </button>
    <mat-menu #menu4="matMenu">
      @if (usuarioAdmin) {
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="acervo/novo">
          <mat-icon class="bcp-icon mr-1">add</mat-icon>
          Novo
        </a>
      </button>
      }
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="acervo/lista">
          <mat-icon class="bcp-icon mr-1">list</mat-icon>
          Lista
        </a>
      </button>
    </mat-menu>
  </div>

  @if (usuarioAdmin) {
  <div class="d-flex">
    <button mat-button [matMenuTriggerFor]="menu5">
      <div class="d-flex">
        <div class="nav-item" routerLinkActive="active">
          <mat-icon class="bcp-icon mr-1">admin_panel_settings</mat-icon>
          Administrador
        </div>
      </div>
    </button>
    <mat-menu #menu5="matMenu">
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="emprestimo/gerenciar">
          <mat-icon class="bcp-icon mr-1">shield_person</mat-icon>
          Gerenciar
        </a>
      </button>
    </mat-menu>
  </div>
  }
  }

  <div class="d-flex">
    <button mat-button [matMenuTriggerFor]="menu6">
      <div class="d-flex">
        <div class="nav-item" routerLinkActive="active">
          <mat-icon class="bcp-icon mr-1">computer</mat-icon>
          Sistema
        </div>
      </div>
    </button>
    <mat-menu #menu6="matMenu">
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/login">
          <mat-icon class="bcp-icon mr-1">login</mat-icon>
          Login
        </a>
      </button>
      <button mat-menu-item>
        <a class="dropdown-item" routerLink="/register">
          <mat-icon class="bcp-icon mr-1">add_registration</mat-icon>
          Cadastrar
        </a>
      </button>
      @if(usuarioLogado) {
      <button mat-menu-item>
        <a class="dropdown-item" (click)="logout()">
          <mat-icon class="bcp-icon mr-1">logout</mat-icon>
          Logout
        </a>
      </button>
    }
    </mat-menu>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="square-jelly-box">
  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>

